.row {
  display: flex;
  padding-top: 10%;
  padding-inline: 18%;
}

.column {
  /* flex: 20%; */
  padding: 10px;
  float: left;
  border-style: groove;
}
@keyframes move {

    0% {background-color: rgb(95, 181, 181);}
    10% {background-color: rgb(156, 228, 204);}
    20% {background-color: burlywood;}
    30% {background-color: rgb(246, 195, 176);}
    40% {background-color: lightpink;}
    50% {background-color: (246, 195, 176);}
    60% {background-color: burlywood;}
    70% {background-color: rgb(156, 228, 204);}
    100% {background-color: rgb(95, 181, 181);}
  }

#chat {

    background-color: rgb(200, 192, 206);
    /* width: 25%; */
    flex:6;
    animation: move 45s infinite;

}

#buttons {
  float:inline-end;
  /* position: absolute; */
  /* position:relative; */
}

#input {
  border-style:dashed;
}


#message {
  background-color: rgb(200, 192, 206);
}

  .card:hover {
    background-color: rgb(221, 235, 248);
  }
  
  .card:active {
    background-color: rgb(149, 167, 183);

  }
  
  nav {
    width: 100%;
    height: 60px;
    border-radius: 100px;
    background-color: azure;
    padding:10px 0px 0px;
  }

  nav ul{
    float: left;
    border-color: cadetblue;
    /* margin-top: 15px; */
    padding: 7%,;
    
  }
  nav ul li{
    float: left;
    list-style: none;
    position: relative;
  }
  nav ul li a{
    display: block;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(33, 32, 33);
    font-size: 20px;
    padding: 22px, 14px;
    text-decoration: none;
  }
  nav ul li ul{
    display: none;
    position: absolute;
    background-color: rgb(231, 206, 206);
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
  }
  nav ul li:hover ul{
    display: block;
  }
  nav ul li ul li{
    width: 40px;
    border-radius: 4px;
  }
  nav ul li ul li a{
    padding: 8px, 14px;
  }
  nav ul li ul li a:hover{
    background-color: rgb(209, 205, 201);
    padding: 8px, 14px;
  }
  #display_image {
    position:sticky;
    display: flex;
    width: 320px;
    height: 240px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
  }

  /* #display_video {
    max-width: 100%;
    height: auto;
    background-clip: border-box;
    display: flex;
    background-size: auto;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
  } */


#contact {
  border-style:dashed;
  padding-left: 200px;
}

#contacts>:hover {
  background-color: rgb(62, 61, 61);
  cursor: pointer;
  border-spacing: 10px;
}

/*rgb(36, 32, 39)*/
#contacts  {
  background-color: rgb(226, 232, 202);
  text-align: left;
  border-style:groove;
  color: rgb(47, 47, 44);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  padding-left: 20px;
  
  flex:2
  /* width: 75%; */
}
.pfp {
  width: 30%;
  border-radius: 100%;
}

.card:hover {
  background-color: rgb(221, 235, 248);
}

.card:active {
  background-color: rgb(149, 167, 183);

}

.iBar {
  /* background-color: blueviolet; */
  margin-top: 60%;
  width: -moz-fit-content;
  width: fit-content;
}

.content {
  display: flex;
}

.cardText {
  align-self: flex-end;
}
.scroller {
  width: 600px;
  height: 400px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: auto;
}
.me {
  border-top: 1px solid rgba(0, 0, 0, .05);
  padding: 10px;
  overflow: auto;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  flex: 1;
}
.notMe {
  background: rgba(0, 114, 135, .1);
  border: 2px solid rgba(0, 114, 135, .1);
  align-self: flex-start;
  text-align: right;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}