.row {
    display: flex;
    padding-top: 10%;
    padding-inline: 18%;
  }
  
  .column {
    /* flex: 20%; */
    padding: 10px;
    float: left;
  }

  #chat {
      background-color: blueviolet;
      /* width: 25%; */
      flex:6;

  }

  #contacts  {
    background-color: rgb(196, 159, 230);
    flex:2
    /* width: 75%; */
  }