.Form {
    text-align: center;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: slategrey;
    padding: 2%;
    border-radius: 5px;

  }

  .FormContainer {
      padding-top: 70px;
  }
  
  .display-6 {
      padding-bottom: 15px;
  }

  .link {
    text-decoration: none;
    color: rgb(107, 180, 229);
  }
